@import "../../helpers/styles/mixins.scss";

.card-modal-date {
  &__container {
    display: flex;
    margin-bottom: 20px;
  }

  &__btn {
    @include btnStyles;
  
    &--close {
      @include btnClose;
    }
  }
  
    &__data {
      @include cardModalData;
    
      &--date {
        width: 150px;
        height: 32px;
        margin-right: 12px;
      }
    }
  
    &__show {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 130px;
      margin-bottom: 20px;
    
      &:hover {
        background-color: rgb(241, 218, 98);
      }
    }
}



  
