@import "../../helpers/styles/mixins.scss";

.card-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &:hover .card-modal-title__btn-title {
    opacity: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
  }

  &__content {
    width: 600px;
    min-height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__date-choose {
    margin-right: 20px;
  }

  &__btn {
    @include btnStyles;

    &--save {
      @include btnSave;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--last {
      margin-right: 0;
    }

    &--close {
      @include btnClose;
    }
  }
}

.error-message {
  color: red;
}

.card-modal-description {
  margin-bottom: 24px;
  &__header {
    display: flex;
  }

  &__icon {
    margin-right: 8px;
  }

  &__data {
    @include cardModalData;
  
    &--description {
      margin: 0;
      min-height: 100px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    height: 44px;
    margin: 0;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  &__btn {
    @include btnStyles;
  
    &--save {
      @include btnSave;
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  
    &--close {
      @include btnClose;
    }
  }

  &__content {
    height: 100px;
    padding: 8px;
    margin: 0;
  
    border: 1px solid grey;
    border-radius: 6px;
  }
}

.card-modal-title {
  &__header {
    @include dateStyles;
    padding: 16px;
    // height: 80px;
    background-color: #eee;
  }
  
  &__header-title {
    margin: 0;
    display: flex;
    gap: 8px;
  }

  &__data {
    @include cardModalData;
  }

  &__btn-title {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(241, 218, 98);
    }
  }
}

.card-modal-date {
  &__container {
    display: flex;
    margin-bottom: 20px;
  }

  &__btn {
    @include btnStyles;
  
    &--close {
      @include btnClose;
    }
  }
  
    &__data {
      @include cardModalData;
    
      &--date {
        width: 150px;
        height: 32px;
        margin-right: 12px;
      }
    }
  
    &__show {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 130px;
      margin-bottom: 20px;
    
      &:hover {
        background-color: rgb(241, 218, 98);
      }
    }
}