@import "../../helpers/styles/mixins.scss";

.card {
  position: relative;
  min-height: 24px;
  padding: 6px;
  background-color: #eee;
  border-radius: 6px;

  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  &:hover .card__btnEdit {
    opacity: 1;
  }

  @include dateStyles;

  &__name {
    margin-bottom: 12px;
  }

  &__date {
    font-size: 12px;
  }

  &__btnEdit {
    position: absolute;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    opacity: 0;

    transition: all 0.3s;

    &:hover {
      background-color: rgb(241, 218, 98);
    }
  }

  &__btnImg {
    width: 20px;
    height: 20px;
  }
}

.card-modal-title {
  &__header {
    @include dateStyles;
    padding: 16px;
    height: 80px;
    background-color: #eee;
  }
  
  &__header-title {
    margin: 0;
    display: flex;
    gap: 8px;
  }

  &__data {
    @include cardModalData;
  }

  &__btn-title {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(241, 218, 98);
    }
  }
}

.card-modal-date {
  &__container {
    display: flex;
    margin-bottom: 20px;
  }

  &__btn {
    @include btnStyles;
  
    &--close {
      @include btnClose;
    }
  }
  
    &__data {
      @include cardModalData;
    
      &--date {
        width: 150px;
        height: 32px;
        margin-right: 12px;
      }
    }
  
    &__show {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 130px;
      margin-bottom: 20px;
    
      &:hover {
        background-color: rgb(241, 218, 98);
      }
    }
}