@import "../../helpers/styles/mixins.scss";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);

  &__content {
    position: absolute;
    min-width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.26);

    background-color: #dbd4d4;
  }

  &__input {
    @include inputStyles;

    margin-bottom: 10px;
    width: 256px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @include btnStyles;

    &--save {
      @include btnSave;
    }

    &--remove {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
      color: #333;

      &:hover {
        background-color: #cd0000;
      }
    }
  }
}
